
<%= simple_form_for todo_list, local: true do |f| %>
  <%= f.error_notification %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
        <% todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: "Name of the List", required: true, autofocus: true, placeholder: "Name of the Todo List" %>
  <%= f.input :description, label: "Tasks", required: true, placeholder: "Description of the List." %>

  <div class="form-actions">
    <%= f.button :submit,  class: "btn btn-info btn-lg" %>
  </div>
<% end %>
