<p id="notice"><%= notice %></p>
<h1>Todo Lists <span class="float-right "><%= link_to "New Todo List", new_todo_list_path, class: "btn btn-primary btn-small link-white" %></span></h1>


<ul class="list-group">
  <% @todo_lists.each do |todo_list| %>
    
      <div class="card">  
        <div class="card-body">  
          <h5 class="card-title"><%= link_to todo_list.title, todo_list, class: "hover_black" %></h5> 
            
          <p class="card-text"><%= todo_list.description %></p>
          <div class="float-right">
            <%= link_to todo_list do %>
              <div class="far fa-list-alt"></div>
            <% end %>
            <%= link_to edit_todo_list_path(todo_list) do %>
              <div class="far fa-edit"></div>
            <% end %>
            <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "hover_black" do %>
              <div class="fas fa-trash-alt"></div>
            <% end %>
          </div>
        </div>
      </div>
    
  <% end %>
</ul>

<div class="links">
  
</div>

