<p id="notice"><%= notice %></p>

<div class="col-lg-8 col-md-6 ml-auto mr-auto">
  <div class="card">
    <div class="card-header ph-card-green">
      <h1>
        Todo List:
        <%= @todo_list.title %>
      </h1>
    </div>
    <div class="card-body">
      <strong>Description:</strong>
      <%= @todo_list.description %>
    </div>

    <div class="card-footer">
      <%= render @todo_list.todo_items %>
    </div>
  </div>
  <div>
    <p></p>
    <%= render "todo_items/form" %>
    <p></p>
    <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
    <%= link_to 'Back', todo_lists_path %>
  </div>

    

</div>
  
  





